a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

h2{
	padding-bottom: 0.5em;
	position: relative;
	font-weight: bold;
	padding-bottom: 0.5em !important;
}

h2 a{
	position: absolute;
	top: -157px;
}

h4{
	font-size: 1em;
}

.section{
/*	border-bottom: 2px;
	border-color: #bdc3c7;
	border-bottom-style: solid;*/
	padding-bottom: 2em;
	margin-bottom: 6em;
	margin-top: 50px;
}

.section h2{
	margin: 0;
}

.education h3,h4{
	display: inline-block;
	padding-right: 0.5em;
}

.education-details{
	padding: 0;
	margin: 0;
}

.education img{
	width: 100%;
}

.welcome{
	margin-top: 23vh;
	margin-bottom: 23vh;
}

@media (max-width: 768px){
	.welcome{
		margin: 0;
	}
}

.welcome .face{
	object-fit: cover;
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
	border-radius: 50px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.welcome .face img{
	position: relative;
	top: -30%;
	display: inline;
	margin: 0 auto;
	height: auto;
	width: 110%;
}


.brand{
	color: #ecf0f1;
	margin: 0;
	padding-top: 1em;
}

.navitem {
	padding-right: 2em;
	padding-left: 2em;
	color: #bdc3c7;
	box-sizing: border-box;
	padding: var(--bs-nav-link-padding-y);
	margin: 0;
}

.vertical{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.navbartp {
	background: linear-gradient(to bottom, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.2));
	backdrop-filter: blur(14px);
	margin: 0;
	padding-left: 1em;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	align-items: center;
	text-align: justify;
	display: flex;
}

.experience .overlay{
	text-align: left;
}

.overlay p{
	padding: 1em;
	font-size: 1pc;
}

.navbartp a{
	text-decoration: none;
}

.navbartp a:hover{
	text-decoration: underline;
	color: #ecf0f1;
}

.content p, ul{
	color: #bdc3c7;
}

ul{
	list-style-position: inside;
	margin-left: 2vw;
}

.school{
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 1.5em !important;
	align-items: center;
	max-width: 700px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	border-radius: 25px;
	background-color: #2f3640;
}


body{
	font-family: helvetica;
}

.project a{
	text-decoration: none;
	color: #ecf0f1 !important;
}

.project a:hover{
	text-decoration: underline;
}

.projects img{
	width: 100%;
}

.project{
	padding: 10px;
	max-width: 500px;
	min-width: 415px;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.project p{
	margin: 0;
}

.project i{
	cursor: pointer;
}


.row{
	padding: 0;
}

.content{
	padding: 2vw;
	padding-top: 25px;
	color: #ecf0f1;
}

.project-container{
	overflow: hidden;
	border-radius: 25px;
	position: relative;
	padding: 0;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.experience .project-container{
	display: flex;
	background-color: #353b48;
	align-items: center;
	padding: 3%;
	max-height: 330px;
}

.experience .project-container img{
	width: 100%;
}

.project-container:hover .overlay{
	opacity: 1;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.3);
}

.project-container ul{
	margin: 0;
	padding-left: 1em;
}

.title-row{
	border-bottom: 2px;
	border-color: #bdc3c7;
	border-bottom-style: solid;
}

.experience-example, .personal-example{
	margin-top: 20px;
	padding: 1.5em !important;
	border-radius: 25px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	background-color: #2f3640;
}

.personal-example p{
	margin-top: 1rem;
}

.personal-example img{
	margin-right: 2em;
}

.icon{
	font-size: 25px;
}