/*remove apple stuff*/
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/*fonts*/
p{
	font-size: 1.2em;
}

.item, .overlay p{
	color: #bdc3c7;
	padding: 1em;
	font-size: 1.1pc;
}

@media only screen and (max-width: 767px){
	p{
		font-size: 0.9em;
	}
	.item{
		font-size: 0.9em;
	}
}

h2{
	padding-bottom: 0.5em;
	position: relative;
	font-weight: bold;
	padding-bottom: 0.5em !important;
}

h2 a{
	position: absolute;
	top: -157px;
}

h4{
	font-size: 1em;
}

.section h2{
	margin: 0;
}

.education h3,h4{
	display: inline-block;
	padding-right: 0.5em;
}

.content p, ul{
	color: #bdc3c7;
}

.navbartp a{
	text-decoration: none;
}

.navbartp a:hover{
	text-decoration: underline;
	color: #ecf0f1;
}

.navarrow a{
	text-decoration: none;
	color: #bdc3c7;
	font-size: 3.5pc;
}

.project a{
	text-decoration: none;
	color: #ecf0f1 !important;
}

.project a:hover{
	text-decoration: underline;
}

body{
	font-family: helvetica;
	background-color: #353b48;
	box-sizing: border-box;
}

.project-container h3{
	font-size: 2em;
	font-weight: bold;
	padding-left: 1em;
}
/*end fonts*/

.icon{
	font-size: 25px;
	display: block;
	padding: 0 !important;
	padding-left: 15px !important;
}

.section{
	padding-bottom: 2em;
	margin-bottom: 6em;
	margin-top: 50px;
}



.education-details{
	padding: 0;
	margin: 0;
}

.education img{
	width: 100%;
}

.welcome{
	height: 70vh;
	align-content: center;
}

@media (max-width: 768px){
	.welcome{
		margin: 0;
	}
}

.welcome .face{
	object-fit: cover;
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
	border-radius: 50px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.welcome .face img{
	position: relative;
	top: -30%;
	display: inline;
	margin: 0 auto;
	height: auto;
	width: 110%;
}


.brand{
	color: #ecf0f1;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-right: 25px;
}

.navitem {
	padding-right: 2em;
	padding-left: 2em;
	color: #bdc3c7;
	box-sizing: border-box;
	padding: var(--bs-nav-link-padding-y);
	margin: 0;
}

.vertical{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.navbartp {
	background: linear-gradient(to bottom, #16181e, #272c36);
	margin: 0;
	align-items: center;
	padding: 10px;
	width: ;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	align-items: center;
	text-align: justify;
	display: flex;
}

.experience .overlay{
	text-align: left;
}

.navarrow{
	margin: -10vh;
	display: flex;
	width: 100%;
	justify-content: center;
}


ul{
	list-style-position: inside;
}

.school{
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 1.5em !important;
	align-items: center;
	max-width: 700px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	border-radius: 25px;
	background-color: #2f3640;
}

.projects img{
	width: 100%;
}

.project{
	max-width: 500px;
	margin: 20px;
}

.project p{
	margin: 0;
}

.project i{
	cursor: pointer;
}


.row{
	padding: 0;
}

.content{
	padding: 2vw;
	padding-top: 25px;
	color: #ecf0f1;
}

.bg-colour{
	background: -webkit-linear-gradient(to bottom, rgba(39, 44, 54, 1), rgba(53, 59, 72, 1) 15%);
	background: linear-gradient(to bottom, #272c36, #353b48 7%);
}

.project-container, .skill-container{
	z-index: 0;
	overflow: hidden;
	border-radius: 25px;
	position: relative;
	padding: 0;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	aspect-ratio: 16/9;
}

.project-container img{
	object-fit: fill;
	width: 100%;
	height: 100%;
}

.skill-container{
	display: flex;
	background-color: #353b48;
	align-items: center;
	padding: 3%;
	max-height: 330px;
}

.skill-container img{
	object-fit: contain;
	width: 100%;
	height: 100%;
	margin: 0;
}

.skill-container:hover .overlay{
	opacity: 1;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.3);
}

.skill-container:hover .interact-pointer{
	display: none !important;
}

.project-container .overlay{
	opacity: 1;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.3);
}

.project-container:hover .overlay{
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.carousel-nav{
	display: block;
	font-size: 1.5em;
}

.project-title{
	display: block;
	padding-left: 1;
}

.project-container:hover .project-title{
	display: none;
}

.carousel-container{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

.anti-carousel-container{
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

.project-container:hover .carousel-container{
	display: flex;
}

.project-container:hover .anti-carousel-container{
	display: none;
}

.skill-container ul{
	margin: 0;
	padding-left: 1em;
}

.title-row{
	border-bottom: 2px;
	border-color: #bdc3c7;
	border-bottom-style: solid;
}

.experience-example, .personal-example{
	margin-top: 20px;
	padding: 1.5em !important;
	border-radius: 25px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	background-color: #2f3640;
}

.personal-example p{
	margin-top: 1rem;
}

.personal-example img{
	margin-right: 2em;
}

.carousel {
	scroll-snap-type: x mandatory;
	overflow: auto;
  	display: flex;
  	align-items: center;
}

.carousel .item{
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	padding: 3%;
	scroll-snap-stop: always;
}

.interact-pointer{
	position: absolute;
	right: 15px;
	bottom: 5px;
	font-size: 1.2em;
}

.navbar-collapse{
	align-items: initial;
	display: flex;
	justify-content: space-between;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}